{{define "page"}}
<div id="app">
	<form method="POST">
		<div class="form-group">
			<label for="secretMessage">Enter a secret message</label>
			<textarea class="form-control" id="secretMessage" rows="3" v-on:input="messageUpdate"></textarea>
		</div>

		<div class="form-group">
			<label for="secretFile">Or upload a secret file</label>
			<div>
				<input type="file" class="form-control-file" id="secretFile" v-on:input="fileUpdate">
				<button v-if="showClearFileBtn" v-on:click="clearFile" class="btn btn-danger btn-sm">Clear</button>
			</div>
		</div>

		<div class="form-group">
			<label for="maxViews">Max views</label>
			<input type="text" class="form-control" id="maxViews" value="1">
		</div>
			
		<div class="form-group">
			<label for="expireIn">Expire in</label>
			<input type="text" class="form-control" id="expireIn" value="24h">
		</div>

		<div class="form-group">
			<button v-on:click="getHyperlink" class="btn btn-primary" type="submit">Generate Hyperlink</button>
		</div>
	</form>

	<div v-if="hyperlink">
		<a v-bind:href="hyperlink" target="_blank">${hyperlink}</a>
	</div>

	<div v-if="err">
		<p>${err}</p>
	</div>

	<script src="/static/index.js"></script>
</div>
{{end}}