{{define "page"}}
<div id="app">
	<form method="POST">
		<template v-if="hyperlink">
			<label for="message" class="bold">Message:</label>
			<textarea class="form-control" rows="5" name="message">${hyperlink.data}</textarea>
			<p>Views left: ${viewsLeft}</p>
			<p v-if="expireIn">Expires in: ${expireIn}</p>
		</template>
		<template v-else-if="error">
			<p class="text-center">The key does not exist or has expired.</p>
		</template>
		<template v-else>
			{{ if eq .type "file" }}
			<div class="text-center">
				<a href="{{ .link }}" class="btn btn-primary">Download</a>
			</div>
			{{ else }}
			<button v-on:click="showHyperlink" class="btn btn-primary center-block">Show</button>
			{{ end }}
		</template>
	</form>

	<script src="/static/view.js"></script>
</div>
{{end}}